.section-container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
.container {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
    grid-template-rows: repeat(1, 1fr);
    grid-auto-rows: 1fr;
}   